<section class="homepage">
    <h1>Farmer's Market Interactive</h1>
    <h2>put a brief description here of what the app does and who can use it or maybe something else I dunno</h2>
    <p>are you a...</p>
      <%= button_to "MARKET", "/markets", class: "button"%>
      <%= button_to "VENDOR", "/vendor_login", class: "button" %>
    <p>or would you like to <%= link_to "view all markets", controller: "users", action: "show" %>?</p>
</section>
