<h1>Welcome!</h1>
<h2>Who are you?</h2>

<!-- later, links will need to be setting user role... -->

<p>
  <%= link_to 'Market', controller: 'markets', action: 'index' %>
</p>
<p>
  <%= link_to 'Vendor', controller: 'vendors', action: 'index' %>
</p>
