<h1 class="center">What would you like to log in as?</h1>

<h2 class="center"><%= link_to "Market", "/market_login", title: "Enter market mode." %></h2>
<h2 class="center"><%= link_to "Vendor", "/vendor_login", title: "Enter vendor mode." %></h2>
