<header>
  <h1 class="center">Who Are You?</h1>
</header>

<h2 class="btn-identity"><%= link_to "Market", "/market", title: "Enter market mode." %></h2>
<h2 class="btn-identity"><%= link_to "Vendor", "/vendor", title: "Enter vendor mode." %></h2>
