<h1 class="center">WELCOME HOME</h1>

<h2 class="center"><%= link_to "Market Dashboard", "/market_dashboard", title: "Enter market mode." %></h2>
<h2 class="center"><%= link_to "Vendor Dashboard", "/vendor_dashboard", title: "Enter vendor mode." %></h2>
