<%= render partial: "header", locals: {  title: "User Directory", link_name: "I am a Market", link_path: markets_path, link_name2: "I am a Vendor", link_path2: vendors_path, second_link: true } %>

<table>
  <th>Market Name</th>
  <% @markets.each do |market| %>
    <tr>
      <td><%= link_to "#{market.name}", user_path(market.id) %></td>
    </tr>
  <% end %>
</table>
