<%= render "shared/header" %>
<main>
  <h2> <%= link_to "View all Markets", markets_users_path %> </h2>

  <h3> <%= link_to "Market Login", markets_path %> </h3>
  <h3> <%= link_to "Vendor Login", vendors_path %> </h3>
</main>
