<section id="login-form" class="center">
  <header>
    <h1>Welcome to the Market Login</h1>
  </header>

  <%= render partial: "form", locals: { controller: "markets",
                                        login_id: "Market ID:" } %>
</section>
