<section id="login-form" class="center">
  <header>
    <h1>Welcome to the Vendor Login</h1>
  </header>

  <%= render partial: "form", locals: { controller: "vendors",
                                        login_id: "Vendor ID:" } %>
</section>
