<h1>Welcome!</h1>
<h2>Who are you?</h2>

<!-- later, links will need to be setting user role... -->
<div class="button_block">
  <div class="center_inline_block">
    <%= link_to 'Market', markets_path %>
  </div>
  <div class="center_inline_block">
    <%= link_to 'Vendor', vendors_path %>
  </div>
  <div class="center_inline_block">
    <%= link_to 'View Markets', users_path %>
  </div>
</div>
