<main>
  <table>
    <tr>
      <th>Vendor Name</th>
    </tr>
    <% @vendors.each do |vendor| %>
    <tr>
      <% if @markets %>
        <td><%= link_to "#{vendor.name.titlecase}", by_market_path(vendor.id) %> </td>
      <% else %>
        <td><%= link_to "#{vendor.name.titlecase}", vendor_path(vendor.id) %> </td>
      <% end %>
    </tr>
    <% end %>
  </table>
</main>
