<main>
  <table>
    <tr>
      <th>Vendor Name</th>
    </tr>
    <tr>
      <td>(click each for details)</td>
    </tr>
    <% @vendors.each do |vendor| %>
    <tr>
      <td><%= link_to "#{vendor.name.titlecase}", by_market_path(vendor.id) %> </td>
    </tr>
    <% end %>
  </table>
</main>
