<main>
  <table>
    <tr>
      <th>Market Name</th>
    </tr>
    <tr>
      <td>(click each for details)</td>
    </tr>
    <% @markets.each do |market| %>
    <tr>
      <% if @path = "user" %>
        <td><%= link_to "#{market.name.titlecase}", by_market_users_path(market.id) %> </td>
      <% elsif @path = "market" %>
        <td><%= link_to "#{market.name.titlecase}", market_path(market.id) %> </td>
      <% end %>
    </tr>
    <% end %>
  </table>
</main>
