<table class="details">
  <tr>
    <th>Id</th>
    <td><%= @product.id %></td>
  </tr>
  <tr>
    <th>Vendor Name</th>
    <td><%= @product.name.titlecase %></td>
  </tr>
  <tr>
    <th>Vendor Id</th>
    <td><%= @product.vendor_id%></td>
  </tr>
</table>
