<table class="details">
  <tr>
    <th>Id</th>
    <td><%= @vendor.id %></td>
  </tr>
  <tr>
    <th>Vendor Name</th>
    <td><%= @vendor.name.titlecase %></td>
  </tr>
  <tr>
    <th>No. of Employees</th>
    <td><%= @vendor.no_of_employees %></td>
  </tr>
  <tr>
    <th> Market Id</th>
        <td> <%= @vendor.market_id %> </td>
  </tr>
</table>
