<!-- TODO: clean up this file! -->

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Product</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% sales.each do |sale| %>
      <tr>
        <td><%= sale.purchase_time %></td>
        <td><%= Product.find(sale.product_id).name %></td>
        <td><%= format_money(sale.amount) %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="2">Sales Total</th>
      <!-- TODO: put sales.reduce[...] somewhere else :) -->
      <% total_sales = sales.reduce(0){ |sum, sale| sum + sale.amount } %>
      <td><%= format_money(total_sales) %></td>
    </tr>
  </tfoot>
</table>
