<h1>Vendors at <%= @market.name %></h1>

<% if current_page?(controller: 'markets', action: 'vendors') %>
<!-- CREATE VENDOR BUTTON -->
<% end %>
<table>
<tr>
  <th>
    ID
  </th>
  <th>
    Name
  </th>
  <th>
    Employees
  </th>
  <% if current_page?(controller: 'markets', action: 'vendors')%>
  <th class="center">
    Edit
  </th>
  <% end %>
</tr>
<tbody>
  <% @vendors.each do |vendor| %>
  <tr>
    <td>
      <%= vendor.id %>
    </td>
    <td>
      <%= vendor.name %>
    </td>
    <td>
      <%= vendor.num_employees %>
    </td>
    <% if current_page?(controller: 'markets', action: 'vendors')%>
      <td class="center">
        <!-- EDIT VENDOR BUTTON -->
      </td>
    <% end %>
  </tr>
  <% end %>
</tbody>
</table>
