<h1>Vendors at <%= @market.name %></h1>

<table>
<tr>
  <th>
    ID
  </th>
  <th>
    Name
  </th>
  <th>
    Employees
  </th>
</tr>
<tbody>
  <% @vendors.each do |vendor| %>
  <tr>
    <td>
      <%= vendor.id %>
    </td>
    <td>
      <%= vendor.name %>
    </td>
    <td>
      <%= vendor.num_employees %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>
