<ul>
  <li>Name: <%= market.name %></li>
  <li>Address: <%= market.address %></li>
  <li>City, State Zip: <%= "#{market.city}, #{market.state} #{market.zip}" %></li>
  <li>County: <%= market.county %></li>
</ul>
