<h1>Welcome to BewMar Headquarters! </h1>


<h2>Would you like to look at Markets? or Vendors?</h2>

<%= button_to "Markets", markets_path, method: :get %>
<%= button_to "Vendors", vendors_path, method: :get %>
