<h1>Welcome to FarMar</h1>

<div id= "home_buttons">
<%= button_to "Market Portal", market_portal_path, method: "get", class: "button" %>

<%= button_to "Vendor Portal", '/vendors', method: "get", class: "button" %>

<%= button_to "View all Markets", markets_path, method: "get", class: "button" %>
</div>
