<h1>Welcome to FarMar</h1>

<%= button_to "Market Portal", market_portal_path, method: "get" %>

<%= button_to "Vendor Portal", vendors_path, method: "get" %>


<%= button_to "View all Markets", markets_path, method: "get" %>
