<% content_for :nav do %>
  <%= link_to 'All Markets', welcome_markets_path %>
<% end %>

<h1>Market Details</h1>

<%= render 'shared/show_market', { market: @market } %>

<h3>Vendors</h3>
<%= render 'shared/index_vendors', { vendors: @vendors } %>