<h1>WELCOME TO WHATEVER</h1>

<div class = "nav">
  <%= link_to 'See all markets', 'welcomes/markets' %>
  <%= link_to 'Login as Market', markets_path %>
  <%= link_to 'Login as Vendor', vendors_path %>
</div>

<div class="welcome_pic">
  <%= image_tag "welcome.png" %>
</div>

<div class = "section">

  <div class ="article1">
    <p>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices vitae nisl a convallis. Morbi nec nisi et augue accumsan pulvinar.      Nunc congue ligula accumsan, bibendum leo et, luctus ex. Aliquam erat volutpat. Sed lacinia est quis eros sagittis, in congue turpis posuere. Curabitur vehicula neque velit. Etiam viverra vulputate lorem, non pharetra lectus imperdiet non. Nam fringilla, nisl id blandit eleifend, dolor est elementum augue, nec luctus nisi elit id nulla. In laoreet nulla vitae rutrum ornare.
    </p>
  </div>

  <div class ="article2">
    <p>
     Nam tristique hendrerit egestas. Nullam pellentesque posuere tellus, id gravida urna sagittis quis. Nam efficitur pharetra dolor gravida bibendum. Aenean feugiat viverra lacus, nec consequat diam venenatis ut. Sed pellentesque arcu vitae libero iaculis, nec eleifend urna vulputate. Duis sit amet rhoncus erat, in egestas velit. Duis congue accumsan ex, id euismod magna pulvinar quis. Morbi viverra eros nec consequat porta. Nam in tempor tortor, id ultricies quam. Donec eu risus gravida, lacinia nulla non, semper tortor. Donec eu mi id lectus rhoncus placerat. Curabitur id nibh nec eros pulvinar vestibulum.
    </p>
  </div>

  <div class ="article3">
    <p>
     Sed dignissim nulla rhoncus, egestas ligula non, venenatis orci. Sed elementum quam vel purus vulputate ultricies. Phasellus ornare sem risus, in feugiat metus faucibus non. Sed pharetra tincidunt posuere. Vestibulum vitae euismod neque. Suspendisse nisi augue, porttitor ut imperdiet eu, aliquam sed enim. Phasellus molestie leo eu sapien molestie fringilla. Proin porta lobortis massa, in vestibulum elit consectetur sed. Aenean laoreet condimentum quam eleifend luctus. Suspendisse cursus lectus ex, a malesuada dui sollicitudin eget. Cras non viverra magna, et commodo neque.
   </p>
  </div>
</div>
