<body class="home-background">
  <div class="home_box">
    <%= link_to "Markets", markets_path, method: :get, class: "market_image" %>
    <%= link_to "Vendors", vendors_path, method: :get, class: "vendor_image" %>
  </div>
</body>
