<% content_for :breadcrumbs do %>
  <%= render partial: "/markets/dashboard" %>
<% end %>

<header>
  <h1>Edit A Vendor</h1>
</header>

<%= render partial: "form", locals: { submit: "Edit Vendor" } %>
