<% content_for :breadcrumbs do %>
  <%= render partial: "/markets/dashboard" %>
<% end %>

<header>
  <h1>Edit A Vendor</h1>
</header>

<section class="edit-form">
  <%= render partial: "form", locals: { submit: "Edit Vendor" } %>
</section>
