<body class="market-background">
  <h1>Edit <%= @vendor %></h1>
  <div class="text_box">
  <%= render partial: "shared/vendor_form", locals: {vendor: @vendor, url: @url, method: @method} %>
  </div>
</body>
