<section class="form">
  <% market = Market.find(params[:market_id]) %>
  <fieldset class="edit_vendor_form">
    <legend>Edit a Vendor</legend>
    <%= render partial: "form", locals: { url: market_vendor_path,
    item: @vendor,
    name_desc: "Vendor Name",
    name_placeholder: "",
    name_value: @vendor.name,
    no_of_employees_desc: "Number of Employees",
    no_of_employees_placeholder: "",
    no_of_employees_value: @vendor.no_of_employees,
    market_id_value: market.id,
    submit_button: "edit vendor" }
    %>
  </fieldset>
</section>
