<%= link_to "Log out", root_path %>

<h1>Hello Vendor!!!</h1>

<ol>
  <% @vendors.each do |vendor| %>
    <li>
      <%= link_to "#{vendor.name}", vendor_path("#{vendor.id}") %>
    </li>
  <% end %>
</ol>
