<header><h1>Index of Vendors </h1></header>

<nav>
  <ul>
    <li><%= link_to "Back to main directory", root_path %></li>
  </ul>
</nav>

<table>

  <th>Vendors</th>

  <% @vendors.each do |vendor| %>
  <tr>
    <td><%= link_to "#{vendor.name}", vendor_path(vendor.id) %></td>
  </tr>

  <% end %>

</table>
