<%= render 'shared/header' %>

<h1>Add a New Vendor</h1>

<%= render partial: 'vendor_form', locals: { legend: 'Add Vendor Information Below:', url: "/markets/#{@market.id}/vendors", method: :post, id: :market_id, value: @market.id } %>


<%= render "shared/footer" %>
