<header><h1>I'm a new vendor!</h1></header>

<nav>
  <ul>
    <li><%= link_to "Back to all vendors", vendors_path %></li>
  </ul>
</nav>

<%= render partial: "vendor_form", locals: { url: "/markets/#{:market_id}/vendors" } %>
