<section class="form">
 <% market = Market.find(params[:market_id]) %>
  <fieldset class="add_vendor_form">
    <legend>Add a Vendor</legend>
    <%= render partial: "form", locals:{ url: "../../:id/vendors/new",
                                         item: @vendor,
                                         name_desc: "Vendor Name",
                                         name_placeholder: "Brenna & Sons",
                                         name_value: nil,
                                         no_of_employees_desc: "Number of Employees",
                                         no_of_employees_placeholder: "8",
                                         no_of_employees_value: nil,
                                         submit_button: "add vendor to #{market.name}"}
    %>
  </fieldset>
</section>
