<h1>Vendor Name: <%="#{@vendor.name}"%></h1>


<h3>Vendor Attributes</h3>
<ul>
  <li>Vendor Name: <%=@vendor.name %></li>
  <li>Number of Employees: <%=@vendor.no_of_employees%></li>
</ul>

<%= link_to "Edit Vendor Details", edit_vendor_path(@vendor.id) %>
<br>
<br>

  <a href="/vendors/">Go Back to all Vendors</a>
