<h1>Vendor Details</h1>

<%= render 'vendor_attributes' %>

<%= link_to 'Edit this vendor', edit_market_vendor_path(@market, @vendor), class: "button" %>

<%= button_to 'Delete this vendor', market_vendor_path(@market, @vendor), class: "button", method: :delete,data: { confirm: "Are you sure you want to delete this vendor?" } %>