<h1>Ima Vendor!</h1>

<ul>
  <li>Name: <%= @vendor.name %></li>
  <li>Number of Employees: <%= @vendor.num_employees %></li>
  <li>Sells at: <%= @vendor.market.name %></li>
</ul>

<h3>Products</h3>

<ul>
  <% @vendor.products.each do |product| %>
    <li><%= link_to product.name, vendor_product_path(@vendor, product) %></li>
  <% end %>
</ul>

<!-- # list of products

# see my sales
# - total sales amount

# see current month's sales
# - current month sales amount -->
