<%= render "shared/header" %>
<%= render "shared/each_vendor" %>

<% if by_market_path %>
<h2> <%= link_to "Edit Vendor", edit_by_market_path %> </h2>
<h2> <%= link_to "Delete Vendor", by_market_path, method: :delete, data: { confirm: "Are you sure?"} %> </h2>
<% end %>
