<p class="error">No vendor was found with the identification number you provided. Please check your number and try this login again.</p>

<h2 class="btn-identity"><%= link_to "Go back to the login page.", "/vendor", title: "Go back to the login page." %></h2>
