<h3>Please log in below with your vendor ID.</h3>
<section class="form">
  <%= form_tag vendor_portal_path, method: :post do %>
  <%= label_tag (:vendor_login), "Vendor Login" %>
    <%= text_field_tag :vendor_login, nil, class: "form_field", autofocus: true, placeholder: "Example: 123" %>
    <%= submit_tag "Login", class: "submit_button" %>
  <% end %>
</section>
