<h1>Vendor Portal</h1>
<form accept-charset="UTF-8" action="/" method="post">
  <label for="vendor_loging">Your vendor id:</label>
  <input id="vendor_login" name="vendor_login" type="text" />
  <input name="login" type="submit" value="Login" />
</form>
