<section class="form">
  <% market = Market.find(params[:id]) %>
  <fieldset class="edit_market_form">
    <legend>Edit a Market</legend>
    <%= render partial: "form", locals:{ item: @market,
                                         name_desc: "Market Name",
                                         name_placeholder: "",
                                         name_value: market.name,
                                         address_desc: "Address",
                                         address_placeholder: "",
                                         address_value: market.address,
                                         city_desc: "City",
                                         city_placeholder: "",
                                         city_value: market.city,
                                         county_desc: "County",
                                         county_placeholder: "",
                                         county_value: market.county,
                                         state_desc: "State",
                                         state_placeholder: "",
                                         state_value: market.state,
                                         zip_desc: "Zip Code",
                                         zip_placeholder: "",
                                         zip_value: market.zip,
                                         submit_button: "edit market"}
    %>
  </fieldset>
</section>
