<% content_for :dashboard_nav do %>
  <%= render partial: "dashboard" %>
<% end %>

<h1>Edit A Task</h1>

<%= render partial: "form", locals: {
  url: "/markets/#{ @market.id }",
  submit: "Edit Market"
} %>
