<% content_for :breadcrumbs do %>
  <%= render partial: "/markets/dashboard" %>
<% end %>

<h1>Edit A Task</h1>

<%= render partial: "form", locals: {
  url: "/markets/#{ @market.id }",
  submit: "Edit Market"
} %>
