<% content_for :dashboard_nav do %>
  <%= render partial: "dashboard" %>
<% end %>

<header>
  <h1>Edit Your Market</h1>
</header>

<section class="edit-form">
  <%= render partial: "form", locals: {
                              url: "/markets/#{ @market.id }",
                              submit: "Edit Market" } %>
</section>
