<h1>All Markets</h1>

<nav>
  <ul>
    <li><%= link_to "Back to main directory", root_path %></li>
  </ul>
</nav>

<%= button_to "Add a New Market", new_market_path, method: "get" %>

<table>

  <th>Name</th>

  <% @markets.each do |market| %>
  <tr>
    <td><%= link_to "#{market.name}", market_path(market.id) %></td>
  </tr>

  <% end %>

</table>
