<section class="homepage">
  <div>
    <h1>Farmer's Market Interactive</h1>
    <h2>put a brief description here of what the app does and who can use it or maybe something else I dunno</h2>
    <h3>are you a...</h3>
      <%= button_to "MARKET", "", class: "button" %>
      <%= button_to "VENDOR", "", class: "button" %>
    <h3>or would you like to <%= link_to "view all markets", "" %>?</h3>
  </div>
</section>
