<h1>Are you a...</h1>
<div class="buttons">
  <span class="market_button"><%= button_to "Market", "" %></span>
  <span class="vendor_button"><%= button_to "Vendor", "" %></span>
</div>
<h3>Or would you like to <%= link_to "view all markets", "" %>?</h3>
