<h1>Here are all the Markets</h1>

<table>

  <th>Name</th>
  <th>City</th>
  <th>State</th>

  <% @markets.each do |market| %>
  <tr>
    <td><%= market.name %></td>
    <td><%= market.city %></td>
    <td><%= market.state %></td>
  </tr>

  <% end %>

</table>
