<h1>Welcome Market!</h1>
<h2>Click on a market name to view a specific market</h2>

<%= link_to "+ New Market", "/markets/new" %>

<h3>MARKETS</h3>
<table>
  <th> ID </th>
  <th> Name </th>
  <th>  </th>
  <% @all_markets.each do |market| %>
  <tr>
    <td> <%= market.id  %></td>
    <td> <%= link_to "#{market.name}", "/markets/#{market.id}", class: "edit_delete" %></td>
    <td> <%= link_to "Edit", "/markets/#{market.id}/edit", class: "edit_delete" %> </td>
  </tr>

  <% end %>

</table>
