<%= render 'shared/header' %>

<h2>Search Results:</h2>
<ul style='list-style-type:none'>
<% @markets.each do |market| %>
  <li> <%= market.name %> </li>
  <% end %>
</ul>


<%= render 'shared/footer' %>
