<h1>All Markets</h1>
<p>
  <a href= "/markets/new">+ Add a market</a>
</p>
<table>
  <thead>
    <tr>
      <th>
        Name <%= button_to "&#8595".html_safe, "/markets/name_sort"%>
      </th>
      <th>
        City
      </th>
      <th>
        State
      </th>
      <th>
        Edit Market
      </th>
      <th>
        Delete Market
      </th>
    </tr>
  </thead>
  <tbody>
    <% Market.all.each do |market|%>
      <tr>
        <td>
          <%= market.name %>
        </td>
        <td>
          <%= market.city%>
        </td>
        <td>
          <%= market.state %>
        </td>
        <td>
          Edit
        </td>
        <td>
          Delete
        </td>
      </tr>
      <% end %>
  </tbody>
</table>
