<p class="error">No market was found with the identification number you provided. Please check your number and try this login again.</p>

<h2 class="btn-identity"><%= link_to "Create New Market", "/markets/new", title: "Create & log in as a a new market." %></h2>
<h2 class="btn-identity"><%= link_to "Login Page", "/market", title: "Go back to the login page." %></h2>
