<p><%= link_to "<< return to markets", "/markets" %></p>
<section class="form">
  <fieldset class="add_market_form">
    <legend>Add a Market</legend>
    <%= render partial: "form", locals: { item: @market,
                                          name_desc: "Market Name",
                                          name_placeholder: "Bob's Farmer's Market",
                                          name_value: nil,
                                          address_desc: "Address",
                                          address_placeholder: "123 Main Street",
                                          address_value: nil,
                                          city_desc: "City",
                                          city_placeholder: "Dayton",
                                          city_value: nil,
                                          county_desc: "County",
                                          county_placeholder: "Montgomery",
                                          county_value: nil,
                                          state_desc: "State",
                                          state_placeholder: "OH",
                                          state_value: nil,
                                          zip_desc: "Zip Code",
                                          zip_placeholder: "45459",
                                          zip_value: nil ,
                                          submit_button: "add market" }
    %>
  </fieldset>
</section>
