body {
  font-family: 'Muli', sans-serif;
  width: 960px;
  margin: auto;
  margin-top: 70px;
}

h1 {
  text-align: center;
}

.home-background {
  background-image: url("Light-Wood.jpg");
  background-size: 100%;
}

.market-background {
  background-image: url("market_background.jpg");
  background-size: 100%;
}

.vendor-background {
  background-image: url("vendor_background.jpg");
  background-size: 100%;
}

.button, .inner_button {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #9ac6e3;
  padding: 5px;
  text-decoration: none;
}

.inner_button {
  color: #465c69;
  font-weight: bold;
  }

.button:hover, .inner_button {
  background: #72b6e0;
  text-decoration: none;
}


table {
  margin: auto;
  text-align: center;
}

table td, th {
  text-align: center;
  padding: 10px 1%;
}

table td:nth-child(2), td:first-child {
  width: 25%;
}

div.text_box {
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  padding-bottom: 200px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity:0.7;
  max-height: 500px;
  overflow-y: scroll;
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
