/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-image: url("greenwhite.png");
  background-repeat: repeat;
  background-attachment: fixed;
  font-family: Courier, serif;
  color: rgb(111,36,152);
  margin: auto;
}

.test {
  /*width: 960px;*/
  background-color: rgba(255, 255, 255, 0.90);
  color: rgb(0, 102, 0);
}

table {
  background-color: rgba(255, 255, 255, 0.90);
  color: rgb(0, 102, 0);
}

a:link {
  text-decoration: none;
}

ul{
  list-style-type: none;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:250px;
}

form{
  width:250px;
}

label{
 display: block;
}
