/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Base Design ------------------------------------------------ */

html {
  font-family: 'Nixie One', cursive;
  background: #fff url("strawberries.jpg") no-repeat center fixed;
  background-size: cover;
}

body {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  margin: 0 auto;
  max-width: 960px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
}

/* Homepage --------------------------------------------------- */
.homepage {
  text-align: center;
}

.homepage h1 {
  text-decoration: underline;
  font-family: 'Nixie One', cursive;
  font-size: 2em;
}

.homepage h2 {
  margin: 0 auto;
  width: 400px;
  font-family: 'Poiret One', cursive;
  font-size: 1.1em;
  text-transform: lowercase;
}

.homepage .button {
  display: inline-block;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #FFF;
  background: #000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  color: #000;
  background: #FFF;
  text-decoration: none;
}

/* Links ------------------------------------------------------ */
a:link,
a:visited {
  color: #A00;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #000;
  font-style: italic;
}

/* Forms ------------------------------------------------------ */
.form_field {
  display: block;
  padding-right: 15px;
  padding-bottom: 2px;
  margin-bottom: 15px;
}

.submit_button {
  border: 2px solid #000;
  background-color: #FFF;
  font-size: 11px;
}

.submit_button:hover {
  border: 2px solid #393;
  color: #393;
}