// Place all the styles related to the sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sales-wrapper {
  width: 50%;
  margin: 0 auto;
}

.sales-wrapper h4:nth-child(2) {
  float: right;
  position: relative;
  top: -20px;
}

.all-sales {
  width: 92%;
  border-radius: 3px;
  background-color: lighten(#ccc, 10);
  padding: 20px;
  margin-top: 10px;
}

.all-sales table {
  margin: 0 auto;
}
.all-sales td {
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid #ccc;
}
