body {
  font-family: 'Verdana', arial, sans-serif;
  font-size: 1.2em;
  // color: rgb(255, 255, 255);
  background-image: image-url("farm.jpeg");
  background-width: 100%;
  background-repeat: no-repeat;
  height: 100%;
}

main {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  height: 70%;
  overflow: scroll;
  padding: 20px;
}

a {
  color: rgb(0, 53, 38);
}

header, nav {
  text-align: center;
  margin-bottom: 15px;
 }

.button_to {
  padding-bottom: 15px;
}

/*________NAV________*/

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  padding: 0;
  margin: 0;
}

/*________TABLE_DATA________*/

.details {
  margin-left: auto;
  margin-right: auto;
}

.details td {
  border-right: 1px solid black;
}

td, th {
  padding: 5px 15px 5px 15px;
  text-align: left;
}



/*________FORM________*/

form label {
  display: block;
}

fieldset {
    border: 0;
}
