// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Patrick Hand SC', cursive;
  margin: auto;
  width: 960px;
  font-size: 25px;
}

.home::after {
  content: " ";
  background-image: assets_path(home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.50;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

a {
  color: #1d3e6e;
  text-decoration: underline;
  margin: 5px;
}

a:hover {
  color: #7a95b0;
}

.index {
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
}

.form {
  border: none;
}

.form_field {
  display: block;
}
