// Place all the styles related to the Welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  background-color: black;
}

body {
  width: 960px;
  font-family: Brushstroke, fantasy;
  font-size: 18px;
  color: #8a6e6c;
  margin: auto;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.link_back a {
  color: white;
}
.nav ul li {
   display: inline-block;
   text-decoration: none;
   background-color: #c7e9ff;
   opacity: 0.4;
   filter: alpha(opacity=40);
}

.nav ul li:hover {
   display: inline-block;
   text-decoration: none;
   background-color: #c7e9ff;
   opacity: 1.0;
   filter: alpha(opacity=100);
}

.nav ul li {
  padding: 8px 95px;
  display: inline-block;
}



.nav_vendor ul li {
   display: inline-block;
   text-decoration: none;
   background-color: #c7e9ff;
   opacity: 0.4;
   filter: alpha(opacity=40);
}

.nav_vendor ul li:hover {
   display: inline-block;
   text-decoration: none;
   background-color: #c7e9ff;
   opacity: 1.0;
   filter: alpha(opacity=100);
}

.nav_vendor ul li {
  padding: 8px;
  display: inline-block;
}
a:hover {
   color: #7994ed;
 }

a {
   text-decoration: none;
   color: white;
}

.section {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.article1 {
  float: left;
  width: 31.6%;
  position: relative;
  padding: 6px;
}

.article2 {
  float: left;
  width: 31.6%;
  position: relative;
  padding: 6px;
}

.article3 {
  float: left;
  width: 31.6%;
  position: relative;
  padding: 6px;
}

.welcome_pic img {
  max-width: 100%;
  max-height: 100%;
}


.markets_list {
  background-color: black;
  opacity: 1.0;
  filter: alpha(opacity=100);
}

// .markets_list a {
//    text-decoration: none;
//    color: white
// }

.markets_list a:hover {
   color: #7994ed;
 }

.specific_market_pic img {
  max-width: 100%;
  max-height: 100%;
}

.market_name {
  text-align: center;
}
