<section class="form">
  <fieldset class="edit_vendor_form">
    <legend>Edit a Product</legend>
    <%= render partial: "form", locals: { url: market_vendor_product_path,
                                          item: @product,
                                          name_desc: "Product Name",
                                          name_placeholder: "",
                                          name_value: @product.name,
                                          vendor_id_value: @product.vendor_id,
                                          submit_button: "add product to #{@vendor.name}" }
    %>
  </fieldset>
</section>