<% content_for :breadcrumbs do %>
  <%= render partial: "/vendors/dashboard" %>
  <%= render partial: "/vendors/products" %>
<% end %>

<h1>Rename Product</h1>

<%= render partial: "form", locals: { submit: "Rename Product" }%>
