<% content_for :breadcrumbs do %>
  <%= render partial: "/vendors/dashboard" %>
  <%= render partial: "/vendors/products" %>
<% end %>

<h1>Rename Your Product</h1>

<section class="edit-form">
  <%= render partial: "form", locals: { submit: "Rename Product" }%>
</section>
