<body class="vendor-background">
  <h1>Edit Product</h1>
  <div class="text_box">
  <%= render partial: "shared/product_form", locals: {product: @product, url: @url, method: @method} %>
  </div>
</body>
