<p>"<%= "#{@vendor.name}" %>" has these products: </p>
  <% @products.each do |product| %>
    <p>
      <%= link_to "#{product.name}", edit_vendor_product_path("#{@vendor.id}", "#{product.id}") %>
    </p>
  <% end %>
</p>

<p>
  <%= link_to "+ Product", new_vendor_product_path("#{@vendor.id}") %>
</p>
