<%= render 'shared/header' %>

<h2>Add a new product here!</h2>

<fieldset>
  <legend>Enter product name:</legend>
  <% @url = "/vendors/#{@vendor[:id]}/products" %>

  <%= render 'product_form' %>

</fieldset>

<%= render "shared/footer" %>
