<section class="form">
 <% market_id = @vendor.market_id %>
 <% vendor_id = params[:vendor_id] %>
  <fieldset class="add_vendor_form">
    <legend>Add a Product</legend>
    <%= render partial: "form", locals:{ url: market_vendor_products_path(market_id, vendor_id),
                                         item: @product,
                                         name_desc: "Product Name",
                                         name_placeholder: "Healthy Celery",
                                         name_value: nil,
                                         submit_button: "add product to #{@vendor.name}"}
    %>
  </fieldset>
</section>