<% content_for :breadcrumbs do %>
  <%= render partial: "/vendors/dashboard" %>
  <%= render partial: "/vendors/sales" %>
<% end %>

<h2 class="center">There are no sales available for this vendor during the selected time period.</h2>
