<h1><%= @vendor.name %></h1>

<h2> Total Sales </h2>

<h3>TRANSACTIONS</h3>
<table>
  <tr>
    <th> Product </th>
    <th> Amount </th>
    <th> Purchase Time </th>
  </tr>
  <% @vendor_sales.each do |sale| %>
  <tr>
    <% product_id = sale.product_id %>
    <% product = Product.find(product_id) %>

    <td> <%= product.name %> </td>
    
    <% amount = sale.amount / 100.00 %>
    <td> <%= number_to_currency(amount) %> </td>
    
    <td> <%= sale.purchase_time %> </td>
  </tr>
  <% end %>
</table>
