<h1>Sales for the month</h1>

<table>

  <th>$ Amount</th>
  <th>Purchase Time</th>

  <% @monthlysales.each do |sale| %>
  <tr>
   <td><%= number_to_currency(sale.amount / 100.00) %></td>
    <td><%= sale.purchase_time %></td>
  <tr>
<% end %>
</table>

<%= link_to "Back to vendor", vendor_path(@vendor.id) %>
