<h1>Sales for the month</h1>

<table>

  <th>$ Amount</th>
  <th>Purchase Time</th>

  <% @month_sales.each do |sale| %>
  <tr>
   <td><%= number_to_currency(sale.amount / 100.00) %></td>
    <td><%= sale.purchase_time %></td>
  <tr>
<% end %>
</table>

<% unless @month_sales.length == 0 %>
  <p>Total month revenue: <%= number_to_currency(@month_revenue / 100.00) %></p>
<% else %>
  <p>There were no sales this month.</p>
<% end %>

<%= link_to "Back to vendor", vendor_path(@vendor.id) %>
