<section class="form">
  <% market_id = @vendor.market_id %>
  <% vendor_id = params[:vendor_id] %>
  <fieldset class="add_sale_form">
    <legend>Add a Sale</legend>
    <%= render partial: "form", locals: { url: market_vendor_sales_path(market_id, vendor_id),
                                          item: @sale,
                                          amount_desc: "Sale Amount ($)",
                                          amount_placeholder: "example: 2837",
                                          amount_value: nil,
                                          purchase_time_desc: "Sale Date",
                                          purchase_time_placeholder: nil,
                                          purchase_time_value: nil,
                                          product_id_desc: "Product ID",
                                          product_id_placeholder: "example: 18",
                                          product_id_value: nil,
                                          vendor_id_value: vendor_id,
                                          submit_button: "add sale" }
    %>
  </fieldset>
</section>
